<!DOCTYPE html>
<html class="ui-page-waitOrderDetail">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
    <header class="mui-bar mui-bar-nav">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">待接详情</h1>
    </header>
		<div class="mui-content waitOrderDetail-page">
			<div class="mui-scroll-wrapper" id="waitOrderDetail-page">
		    <div class="mui-scroll" id="waitOrderDetail-mui-scroll">
          <script id="waitOrderDetail-template" type="text/html">
            {{if data && !!data.OrderNo}}
              <div class="title">&nbsp;</div>
              <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed"> 
                <li class="mui-table-view-cell">
                  <div class="mui-table">
                    <div class="mui-table-cell mui-col-xs-10">
                      <div class="row full">
                        <span class="name">运单号</span>
                        <span class="value">{{data.OrderNo}}</span> 
                      </div> 
                      <div class="row full">
                        <span class="name">运单状态</span>
                        <span class="value">{{data.OrderStatusName}}</span>                                                   
                      </div> 
                      <div class="row full">
                        <span class="name">到场时间</span>
                        <span class="value">{{data.PresentTime}}</span> 
                      </div>
                      {{each data.Factories as Factory key}}
                        {{if data.Factories.length == 1}}
                          <div class="row">
                            <span class="name">装货工厂</span>
                            <span class="value">{{Factory.FactoryOr}}</span> 
                          </div>
                        {{else}}
                          <div class="row">
                            <span class="name">装货工厂{{key + 1}}</span>
                            <span class="value">{{Factory.FactoryOr}}</span> 
                          </div>
                        {{/if}}
                        <div class="row">
                          <span class="name">联系人</span>
                          <span class="value">{{Factory.ContactName}}</span> 
                        </div>
                        <div class="row full arrow-right sys-mobile" data-mobile="{{Factory.LinkMobile}}">
                          <span class="name">电话</span>
                          <span class="value">{{Factory.LinkMobile}}</span> 
                        </div>
                        <div class="row full arrow-right sys-address" data-address="{{Factory.FactoryAddress}}">
                          <span class="name">装卸地址</span>
                          <span class="value">{{Factory.FactoryAddress}}</span> 
                        </div>
                      {{/each}}  
                      <div class="row">
                        <span class="name">贸易方式</span>
                        <span class="value">{{data.TradeWayName}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">提柜地</span>
                        <span class="value">{{data.ContainerToName}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">还柜地</span>
                        <span class="value">{{data.ContainerToName}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">货重</span>
                        <span class="value">{{data.GoodsWeight}} 千克</span> 
                      </div>
                      <div class="row">
                        <span class="name">柜型</span>
                        <span class="value">{{data.ArkOfName}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">报关方式</span>
                        <span class="value">{{data.CustomsWayName}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">起运海关</span>
                        <span class="value">{{data.CustomsDataName}}</span> 
                      </div>
                      <div class="row full">
                        <span class="name">订舱号</span>
                        <span class="value">{{data.BookingNum}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">封条号</span>
                        <span class="value">{{data.SealNumber}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">柜号</span>
                        <span class="value">{{data.SealNumber}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">过磅货重</span>
                        <span class="value">{{data.WeighingWeight}} 千克</span> 
                      </div>
                      <div class="row">
                        <span class="name">柜重</span>
                        <span class="value">{{data.ArkHeavy}} 千克</span> 
                      </div>
                      <div class="row full">
                        <span class="name">截关时间</span>
                        <span class="value">{{data.CutOffTime}}</span> 
                      </div>
                      <div class="row full">
                        <span class="name">补料时间</span>
                        <span class="value">{{data.LoadingTime}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">提柜堆场</span>
                        <span class="value">{{data.ContainerYardName}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">还柜堆场</span>
                        <span class="value">{{data.AlsoTankDepotName}}</span> 
                      </div>
                      <div class="row">
                        <span class="name">调度员</span>
                        <span class="value">{{data.DispatcherName}}</span> 
                      </div>
                      <div class="row full arrow-right sys-mobile" data-mobile="{{data.DispartcherMobile}}">
                        <span class="name">电话</span>
                        <span class="value">{{data.DispartcherMobile}}</span> 
                      </div>
                      <div class="row full">
                        <span class="name">备注</span>
                        <span class="value">{{data.OrderRemark}}</span> 
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="footer-btn">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block" id="accept-btn" data-accept="true" data-id="{{data.Id}}">接单</button>
                <button type="button" class="mui-btn mui-btn-danger mui-btn-block" id="refuse-btn" data-accept="false" data-id="{{data.Id}}">拒单</button>
              </div>
            {{else}}
              <div class="nothing-box">
                <div class="no-result">
                  <i class="iconfont icon-wushuju"></i>  
                </div>
                <p>暂时没有内容 ~ ~</p>
              </div>
            {{/if}}
          </script>
        </div>
			</div>
		</div>
	</body>
</html>