<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
      <h1 class="mui-title">运单详情</h1>
    </header>
		<div class="mui-content detail-page" id="feeDetail-page">
			<div class="mui-scroll-wrapper" id="feeDetail-mui-scroll">
				<script id="feeDetail-template" type="text/html"> 
		    	<div class="mui-scroll container">
	          {{if OrderStatus == 25}}
	          <div class="add_list">
		          <!-- 录入费用 -->
		          <button class="feeDetail-add" id="add_feeList">加一笔</button>
		          <!-- 录入费用from提交 -->
		          <div class="form">
			          <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
			          	{{each add_feeList as arr i}}
		              <li class="mui-table-view-cell">
		              	<a class="mui-navigate-right add_feeList_a">
		              		<span>{{arr}}</span>
		              		<input type="text" class="add_feeList_input">
		              	</a>
	   							</li>
	   							{{/each}}
		              <li class="mui-table-view-cell orderRow fee-sum" >
		              	<span class="fee-left">总额(元)</span>
		              	<span class="fee-right" style="color:#ff0033">{{total}}</span>
		              </li>
		          	</ul>
	          		<input type="button" value="提交" class="from_submit" />
	          		<input type="button" value="取消" class="from_cancel" id="from_cancel" />
	          	</div>
		          {{else}}
		          <!-- 查看费用 -->
		          <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
	            	{{each list as Item i}}
	              <li class="mui-table-view-cell orderRow" id="fee-text" >
	                <span class="fee-CostItemName fee-left">{{Item.CostItemName}}</span>
	                <span class="fee-price fee-right">{{Item.Price}}</span>
	              </li>
	              {{/each}}
	              <li class="mui-table-view-cell orderRow fee-sum" >
	              	<span class="fee-left">总额(元)</span>
	              	<span class="fee-right" style="color:#ff0033">{{total}}</span>
	              </li>
	          	</ul>
          	</div>
	    			{{/if}}
	    			{{if hidden == 1}}
	    			<div class="addFee_checkbox" id="addFee_checkbox">
	    			{{each extraCategory as Item i}}
		    			<div class="mui-input-row mui-checkbox mui-left">
							  <label>{{Item.CostName}}</label>
							  <input value="{{Item.CostName}}" name="addFee_checkbox" type="checkbox" class="addFee_checkbox">
							</div>
						{{/each}}
							<button class="addFee_btn" id="addFee_btn">确认</button>
						</div>
	    			{{/if}}
					</div>
				</script>	
			</div>	
		</div>
	</body>
</html>