<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div class="mui-content detail-page" id="feeDetail-page">
			<div class="mui-scroll-wrapper" id="fee-mui-scroll">
				<script id="fee-template" type="text/html"> 
		    	<div class="mui-scroll">
	          <div class="title">&nbsp;</div>
	          {{if OrderStatus == 25}}
	          <!-- 录入费用 -->
	          <div class="feeDetail-add">加一笔</div>
	          <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
              <li class="mui-table-view-cell orderRow" id="fee-text" >
                <span class="fee-CostItemName fee-left">xx费</span>
                <span class="fee-price fee-right">100元</span>
              </li>
              <li class="mui-table-view-cell orderRow fee-sum" >
              	<span class="fee-left">总额(元)</span>
              	<span class="fee-right" style="color:#ff0033">{{total}}</span>
              </li>
          	</ul>
	          {{else}}
	          <!-- 查看费用 -->
	          <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
            	{{each list as Item i}}
              <li class="mui-table-view-cell orderRow" id="fee-text" >
                <span class="fee-CostItemName fee-left">{{Item.CostItemName}}</span>
                <span class="fee-price fee-right">{{Item.Price}}</span>
              </li>
              {{/each}}
              <li class="mui-table-view-cell orderRow fee-sum" >
              	<span class="fee-left">总额(元)</span>
              	<span class="fee-right" style="color:#ff0033">{{total}}</span>
              </li>
          	</ul>
	    			{{/if}}
					</div>
				</script>	
			</div>	
		</div>
	</body>
</html>