@import url('../../static/common.less');

.mui-scroll{
  position: relative;
}

.mui-content .mui-scroll-wrapper .container{
  padding-bottom: 0px;
  background: #EFF2F5;
}

.mui-table-view .orderRow .fee-left{
	float: left;
}
.mui-table-view .orderRow .fee-right{
	float: right;
}
.mui-table-view .fee-sum{
	border-top:1px solid #1296db;
}
.mui-scroll .feeDetail-add{
  width: 100%;
  z-index: 3;
  height: 35px;
  background: #f7f7f7;
  color: #1296db;
  text-align: center;
  line-height: 35px;
  border-bottom: 1px solid #eee;
}

.mui-content .mui-scroll-wrapper .container .add_list{
  height: 100%;
  background: #EFF2F5;
}

.mui-scroll .form ul li .add_feeList_input{
  margin-bottom:0px;
  padding:0px;
  width:70%;
  border: 0px;
  float: right;
  margin-right: 15px;
  background: pink;
}

.mui-scroll .form ul li .add_feeList_a{
  margin: -22px -18px;
  line-height:100%;
}

.mui-scroll .form .from_submit{
  margin-top:477px;
  width:180px;
  background: #1AAD19;
  border: 0;
} 
.mui-scroll .form .from_cencel{
  margin-top:531px;
  width:207px;
}

.mui-scroll .addFee_checkbox{
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #EFF2F5;
}

.mui-scroll .addFee_checkbox .addFee_btn{
  margin:400px 9px 9px 9px;
  width: 342px;
  border:0;
  background: #1AAD19;
}